NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_AUTH_STRATEGY=session
NEXT_PUBLIC_AUTH_TOKEN_NAME=access_token
NEXT_PUBLIC_AUTH_SESSION_COOKIE_NAME=laravel-session
NEXT_PUBLIC_AUTH_CSRF_COOKIE_NAME=XSRF-TOKEN
NEXT_PUBLIC_AUTH_CSRF_HEADER_NAME=X-XSRF-TOKEN